.type-of-employment-section {
  width: 100%;
  padding-left: 15px;
}

.type-of-employment-heading {
  color: #ffffff;
  font-size: 12px;
  font-family: 'Roboto';
}

.type-of-employment-list {
  padding: 0px;
}

.label-name {
  color: #ffffff;
  padding-left: 0px;
  margin-left: 5px;
}

.list-item {
  padding: 0px;
  font-size: 12px;
}

.check-box-edit {
  font-size: 12px;
}

.salary-range-section {
  width: 100%;
  padding-left: 15px;
}
