.profile-card-container {
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  height: 200px;
  padding: 10px;
  margin-left: 15px;
}

.image-edit {
  width: 80px;
  height: 80px;
}

.profile-user-name {
  color: #6366f1;
  font-size: 26px;
}

.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 80%;
  }
}

.Retry-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.retry-button {
  background-color: #4f46e5;
  color: #ffffff;
  border-radius: 6px;
  padding: 8px 18px;
  cursor: pointer;
}
